#btn-login {
    padding: 8%;
    width: 16rem;
    font-size: 1rem;
    border-radius: 2rem;
    color: aliceblue;
    background: #3F8EBF;
    border: #cbcedd solid 3px;
  
}

#btn-cadastro {
    padding: 10%;
    width: 12rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: aliceblue;
    background: #0C223D;
    border: #cbcedd solid 3px;
}

.cad-bottom {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
#cadastro-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Efeito hover para os botões */
#btn-login:hover, #btn-cadastro:hover {
    background: #2466BC;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
} 

@media (max-width:1024px) {
    #btn-login{
        padding: 6%;
        width: 10rem;
    }
    #btn-cadastro {
        padding: 6%;
        width: 8rem;
    }
    #cadastro-info{
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 0;
    }
    .form-dado input{
        width: 62vw;
        border-radius: 2rem;
        padding: 4px 10px;
}
}