

/*corpo*/
body{
     height: auto;
     background-image: 
     radial-gradient( #010A26 30%, #011640 100%),
     linear-gradient(to bottom,#3586D2, #3b668c 60%);
     background-repeat: no-repeat;
     background-size: cover;
}
.navbar{
    background: none;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top: 0;
}

.content{
    height: auto;
    background: none;
}
.container{
    width: 100%;
    height: auto;
   
}
header {
    margin: 0;
    padding: 20px;
    position: relative;
    top: -20px; 
    left: -20px;
}

.area-mapa{
    width: calc(100% - 8%);
    height: auto;
    margin: 2% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;

}
.area-estatisticas{
    width: 100%;
    height: 100vh;
    background: #DCE9EF;
}

/*Mapa*/
#mapa{
    height: 100vh;
    width: 100%;
    border: #3B668C solid 4px;
}
.mapa-infos{
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCE9EF;
     border: #3B668C solid 4px;
}
.mapa-container{
    position: relative;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.rota {
    stroke:#6178fd;       
    stroke-width: 8px;     
    paint-order: stroke;  
}
/*info-mapa*/
.mapa-infos {
     max-height: 0;
     opacity: 0;
     overflow: hidden;
     display: none;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.mapa-infos.visible {
    max-height: 100vh;
    transition: max-height 0.3s ease;
    opacity: 1;
    height: auto;
    display: flex;
}
.infos-container{
     width: auto;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content:space-between;
    flex-direction: column;
}
.info-wrapper{
  width:100%;
    height: auto;
    padding: 4%;
   
}
#info-01{
   border-bottom:#3586D2 solid 2px ;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    gap: 32px;
    
}
.location{
   width: 100%;
   height: auto;
   text-align: left;
   display: flex;
   justify-content: left;
   align-items:center;
   gap:12px
}
.info-text{
    margin: 0;
    color: #010A26;
    font-weight: 500;
   
}
#info-02{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-info{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.fa-solid{
    font-size: 2rem;
    color:#3B668C;
}
#info-03{
    border-top: #3586D2 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.estats{
    border: #b1b1b1 solid 1px;
    background: #3586d277;
    width: calc(100% - 4%);
    height: 10vh;
    margin: 2%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-direction: column;
    text-align: left;
    padding: 8px;
}
.estats .info-text{
    font-size: 0.9rem;
}
.icon-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*popup*/
.popup-overlay {
    position: absolute;
    width: 30vw;
    height: 30vh;
    display: none;
    justify-content: center;
    align-items:end;
    z-index: 1000;
   
}
.infoPopupOverlay{
    width: 100%;
    height: 100vh;
    background: #010a264d;
    position: absolute;
    display: none;
    justify-content: center;
    align-items:center;
    z-index:1000;
}
.infoPopup{
    background: #3b668cec;
    font-size: 1rem;
    width: auto;
    height: auto;
    border-radius: 8px;
    border: #010A26 solid 2px;
    padding: 20px;
    color:#DCE9EF;
    text-align: justify;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    animation: aparecer 0.3s ease;
}
.infoPopup h1{
    font-size: 2rem;
}
.infoPopup h2{
    font-size: 1.5rem;
}
.btnOK{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnOK button{
      padding: 10px 25px;
      border:#3586D2 solid 1px;
      color: #DCE9EF;
      background-color:#011640;
      border-radius: 4px;
      cursor: pointer;
      z-index: 1000;
}
.popup {
    background:#011640da;
    padding: 20px;
    color: #DCE9EF;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    animation: aparecer 0.3s ease;
}

@keyframes aparecer {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

.botoes {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.botoes button {
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
}

#criarRota {
    background:  #3b668c;
    color: white;
}

#sairPopup {
    background: #f45236;
    color: white;
}

/*footer*/
footer {
    background-color:#DCE9EF;
    color: #363F70;
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
}


@media (width >= 1920px) {
    .info-wrapper{
    height: 30vh;
   
}
}


@media (721px <= width <= 1919px) {
    
}



@media (width <= 720px) {
    .area-mapa{
        flex-direction: column;
    }
    .infos-container{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .mapa-infos{
        width: 100%;
        height: auto;
    }
    .mapa-infos.visible{
        width: 100%;
    }
    #mapa{
        height: 80vh;
    }
    .infoPopup{
        width: 80vw;
    }
    .infoPopup h1,h2{
        text-align: left;
    }
    .popup-overlay{
        width: 50vw;
    }
}