* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    
}
/*cabecalho*/
.navbar{

    background-color: #3471A6;;
    color: aliceblue;
}

.navbar-nav{
    font-size: 1.3rem;
    gap: 36px;
    width:auto;
}
.navbar-brand img{
    width: 150px;
}
.navbar .d-flex .nav-link i {
    font-size: 2.0rem;
}
.navbar .d-flex .nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem; /* Espaçamento vertical e horizontal */
}

/*corpo*/
body{
    height: auto;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #3471A6;
}


/*footer*/

footer {
    background-color:#DCE9EF;
    color: #363F70;
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.copyright, .address, .contact {
    margin-bottom: 0.5rem;
}

.social-media {
    margin-top: 1rem;
}

.social-media span {
    margin-right: 1rem;
}

.social-media a {
    color: #363F70;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #66b3ff;
}