#btn-login {
    padding: 6%;
    width: 12rem;
    font-size: 1rem;
    border-radius: 2rem;
    color: aliceblue;
    background: #3F8EBF;
    border: #cbcedd solid 3px;
    margin-right: 1rem;
}

#btn-cadastro {
    padding: 6%;
    width: 12rem;
    font-size: 1rem;
    border-radius: 2rem;
    color: aliceblue;
    background: #3F8EBF;
    border: #cbcedd solid 3px;
}

.cad-bottom {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

/* Efeito hover para os botões */
#btn-login:hover, #btn-cadastro:hover {
    background: #2466BC;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
} 