* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    
}
/*cabecalho*/
.navbar{
    background: none;
    color: aliceblue;
}

/*corpo*/
body{
    height: auto;
    background-image: 
    radial-gradient(rgba(63, 142, 191, 0.33), rgba(15, 14, 14, 0.137)),
    linear-gradient(to right, #3586D2, #3B668C);
    background-repeat: no-repeat;
    background-size: cover;
    
}
main.content{
    height: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cadastro{
    width: 76vw;
    height: 100vh;
    margin: 4%;
    border: #010A26 solid 2px;
    border-radius: 2.5rem;
}


/*footer*/

footer {
    background-color:#010A26;
    color: #cbcedd;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
}
